@font-face {
  font-family: 'mitra';
  src: url("./fonts/BMitra.ttf") format('opentype');
}

body {
  margin: 0;
  padding: 0;
  /*font-family: mitra, sans-serif;*/
}

#root :not(i){
  font-family: mitra, sans-serif; /* separates: modal */
}
#root{
  direction: rtl !important;
  text-align: right !important;
}

/* total styles*/
.image-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}